<nav>
    <div>
        <img src="/images/NoteIt.png" alt="NoteIt">
    </div>
    <div class="redirect">
        <form action="/addnewpost">
            <input type="submit" value="Add a new post" />
        </form>
        <form action="/posts">
            <input type="submit" value="View all posts" />
        </form>
    </div>
    <div class="account">
        <input type="image" class="dropbtn" src="/images/Account2.png">
    </div>

</nav>